<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @gigabit_ethernet.device %>
</p>

<p>
  <strong>Name:</strong>
  <%= @gigabit_ethernet.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gigabit_ethernet.description %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @gigabit_ethernet.speed %>
</p>

<%= link_to 'Edit', edit_gigabit_ethernet_path(@gigabit_ethernet) %> |
<%= link_to 'Back', gigabit_ethernets_path %>
