<%= form_for @ipv6, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :gigabit_ethernet_id, :class => 'control-label' %>
    <%= f.number_field :gigabit_ethernet_id, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label' %>
    <%= f.text_area :address, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :primary, :class => 'control-label' %>
    <%= f.check_box :primary, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ipv6s_path, :class => 'btn' %>
  </div>
<% end %>
