<%= form_for @peer, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :device_id, :class => 'control-label' %>
    <%= f.collection_select :device_id, Device.all, :id, :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :autnum_id, :class => 'control-label' %>
    <%= f.collection_select :autnum_id, Autnum.all, :id, :asn, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :neighbor, :class => 'control-label' %>
    <%= f.text_area :neighbor, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                peers_path, :class => 'btn' %>
  </div>
<% end %>
