<%- model_class = Peer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:device) %>:</strong></dt>
  <dd><%= @peer.device.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:asn) %>:</strong></dt>
  <dd><%= @peer.autnum.asn %></dd>
  <dt><strong><%= model_class.human_attribute_name(:neighbor) %>:</strong></dt>
  <dd><%= @peer.neighbor %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              peers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_peer_path(@peer), :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              peer_path(@peer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
