<%= form_for @ipv4, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :gigabit_ethernet_id, :class => 'control-label' %>
    <%= f.collection_select :gigabit_ethernet_id, GigabitEthernet.all, :id, :name_with_device, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label' %>
    <%= f.text_area :address, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :primary, :class => 'control-label' %>
    <%= f.check_box :primary, :class => 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ipv4s_path, :class => 'btn' %>
  </div>
<% end %>
